<!DOCTYPE html>
<html>
<style>

path {
  stroke: rgba(255, 255, 255, 0.9);
  stroke-width: .1px;
}

path:hover {
  fill:  rgba(132, 246, 18, 0.72);
}

body {
  margin: 25px;
  background:   rgba(0, 0, 0, 0.4);
}

#map {
  width: 900px;
  height: 600px;
}

/* Thanks to http://colorbrewer2.org/ rgba(0, 0, 255, 0.3) */
.YlGnBu .q0-9{fill:rgb(255,255,217)}
.YlGnBu .q1-9{fill:rgb(237,248,177)}
.YlGnBu .q2-9{fill:rgb(199,233,180)}
.YlGnBu .q3-9{fill:rgb(127,205,187)}
.YlGnBu .q4-9{fill:rgb(65,182,196)}
.YlGnBu .q5-9{fill:rgb(29,145,192)}
.YlGnBu .q6-9{fill:rgb(34,94,168)}
.YlGnBu .q7-9{fill:rgb(37,52,148)}
.YlGnBu .q8-9{fill:rgb(8,29,88)}

.container{
    display: flex;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}

</style>
<head>
    <meta charset="utf-8">
    <title>Skyscanner Suprise-me</title>

    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/topojson.v1.min.js"></script>
    <!-- <script src="d3.button.js"></script> -->

     <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
  <div class=container>
    <div id="informations" class=fixed>
      <p id="report"></p>
      <p id="details"></p>
      <p id="infos"></p>
      <p id="cost"></p>
      <p id="cityData"></p>
      <div id="option">
            <input name="SupriseMe" 
           type="button" 
           value="Surprise me!" 
           onclick="SurpriseMe()" />
    </div>
    <div>
           <input type="checkbox" class="myCheckbox" value="thor"> Temperatures
           <input type="checkbox" class="myCheckbox" value="spiderman"> Nightlife
           <input type="checkbox" class="myCheckbox" value="superman"> Culture
      </div>
    </div>
    <div id="map" class=flex-item> 
      <script type="text/javascript">
        var h = 900,
            w = 960;
        // set-up unit projection and path
        var projection = d3.geo.mercator()
            .scale(1)
            .translate([0, 0]);
        var path = d3.geo.path()
            .projection(projection);
        // set-up svg canvas
        var svg = d3.select("#map").append("svg")
            .attr("height", h)
            .attr("width", w);

        //var mapFeatures = svg.append('g')
        //		.attr('class', 'features YlGnBu')

        var zoom = d3.behavior.zoom()
        			.scaleExtent([1,1000])
        			.on("zoom", doZoom);

        svg.call(zoom);

        var highlight = Array(189).fill(0)

        var colors = d3.scale.linear()
        .domain([0, 181])  
        .range(["steelblue", "steelblue"]);


        d3.csv("/dataframes/unesco", function(error, data) {
            var unesco = data;
            }
        );

        var heritage;

        d3.csv("/dataframes/heritage", function(error, data) {
            heritage = data;
            }
        );

        var museums;
        d3.csv("/dataframes/museums", function(error, data) {
            museums = data;
            }
        );

        var parks_percent;
        d3.csv("/dataframes/parks_percent", function(error, data) {
            parks_percent = data;
            }
        );

        var restau_per_ca;
        d3.csv("/dataframes/restau_per_ca", function(error, data) {
            restau_per_ca = data;
            }
        );

        var tourist_per_cent;
        d3.csv("/dataframes/tourist_per_cent", function(error, data) {
            tourist_per_cent = data;
            }
        );

        var bars;
        d3.csv("/dataframes/bars", function(error, data) {
            bars = data;
            }
        );

        var nightclubs;
        d3.csv("/dataframes/nightclubs", function(error, data) {
            nightclubs = data;
            }
        );

        var bars_percent;
        d3.csv("/dataframes/bars_percent", function(error, data) {
            bars_percent = data;
            /*for(i in bars_percent){
                console.log(bars_percent[i]["0"]);
               }*/
            }
        );

        var arcades;
        d3.csv("/dataframes/arcades", function(error, data) {
            arcades = data;
            // for(i in arcades){
            //     console.log(arcades[i]["0"] + " and " + arcades[i]["0.0"]);
            //    }
            }
        );


        d3.csv("/dataframes/temps", function(error, data) {
            var temps = data;
            // for(i in temps){
            //     console.log(temps[i]["id"] + " and " + temps[i]["temp"]);
            //     }
            }
        );

        //https://github.com/johan/world.geo.json
        d3.json("/alljson", function(error, data) {
            d3.csv("https://gist.githubusercontent.com/phil-pedruco/10447085/raw/426fb47f0a6793776a044f17e66d17cbbf8061ad/idCountry.csv", function(error, csv) {
                var world = data.features;
                csv.forEach(function(d, i) {
                    world.forEach(function(e, j) {
                        if (d.id === e.id) {
                            e.name = d.name
                        }
                    })
                })
                // calculate bounds, scale and transform 
                // see http://stackoverflow.com/questions/14492284/center-a-map-in-d3-given-a-geojson-object
                var b = path.bounds(data),
                   s = .95 / Math.max((b[1][0] - b[0][0]) / w, (b[1][1] - b[0][1]) / h),
                    t = [(w - s * (b[1][0] + b[0][0])) / 2, (h - s * (b[1][1] + b[0][1])) / 2];
                projection.scale(s)
                    .translate(t);

                svg.selectAll("path")
                    .data(world).enter()
                    .append("path")
                    .attr("d", path)
                    .on("click", function(d, i) {
                        cost(d);
                        details(d);
                        cityDetails(d, i);
                    })
                    .attr("fill", function(d, i){
                        if (highlight[i] == true){
                            return 'red';
                        }
                        else{
                            return colors(i);   
                        }
                        })
                    .attr("opacity", 0.6)
                    .append("title")
                    .text(function(d) { return d.name; });

                    
            });

            //d3.select(self.self.frameElement).style("height", height + "px");


            function reporter(x) {
                console.log(x)
                d3.select("#report").text(function() {
                    /*if(x.name == "Switzerland") {
                    	alert("hey")
                    }*/
                    return x.name;
                });

            }
            function details(x) {
            	d3.select("#details").text(function() {
            		return x.name;
            	})
            }
            function cost(x) {
                d3.select("#cost").text(function(){
                        return "Patience is key ...";
                })
                d3.json("/cost/" + x.name, function(error, data) {
                    d3.csv("/dataframes/unesco", function(error, _unesco) {
                       
                            console.log(bars_percent.length)
                            var unesco = _unesco;
                            //var names = data[0];
                            d3.select("#cost").html(function(){
                                
                                var namePrice = "<UL>";
                                var existFlights = false;
                                for(var key in data){
                                    if (data[key].price){
                                        existFlights = true;
                                        request_link = "http://partners.api.skyscanner.net/apiservices/referral/v1.0/FR/eur/en-US/GVA/JFK/2017-12-13/2017-12-15?apiKey=ha29939388140498"
                                       namePrice += ("<li><b><a href='http://partners.api.skyscanner.net/apiservices/referral/v1.0/FR/eur/en-US/GVA/"+ data[key].airport  + "/2017-12-13/2017-12-15?apiKey=ha29939388140498'>" + data[key].name + 
                                        "</a></b> <i>" + data[key].price + "€</i>");
                                    }
                                }
                                namePrice += "</UL>"
                                if(!existFlights){
                                    namePrice = "No flights available..."
                                }

                                //namePrice += "<br/ "

                                return namePrice;
                                })
                        });
                    });

            }

            function cityDetails(x, idx){
                d3.select("#cityData").html(function(){
                    console.log(idx);
                    //return bars_percent[idx+1]["0.0"];
                    return bars_percent[idx]["0"];
                });
            }

        });

        d3.selectAll(".myCheckbox").on("change",updateFilters);
        updateFilters();

        function updateFilters(){

             d3.csv("/dataframes/temps", function(error, _temp) {

                var obj = d3.map(_temp, function(d){
                    return d.id;
                });
                obj.forEach(function(k,v){
                    this[k] = v.temp;
                });

                //console.log(obj);

                var choices = [];
                d3.selectAll(".myCheckbox").each(function(d){
                    cb = d3.select(this);
                if(cb.property("checked")){
                    choices.push(cb.property("value"));
                }
                });

               if(choices.length > 0){

                    highlight[137] = 1;
                    svg.selectAll("path")
                    .attr("opacity", function(d, i){
                        if(obj[d.id])
                            return ((obj[d.id]+2) / 28);
                        else
                            return 0.05;

                    //if (highlight[i]){
                        //return 0.7;
                    //}
                    //else {
                         //return 0.2;   
                    //}
                });

                } else {
                     svg.selectAll("path")
                      .attr("opacity", 0.6); 
                      highlight.fill(0);   
                } 
            });    
        }


        function doZoom() {
        	svg.attr("transform", 
        		"translate(" + d3.event.translate + ") scale(" + d3.event.scale + ")");
        }

        function notNull(el){
            return el !=0;
        }

        function getAllIndexes(arr) {
            var indexes = [], i;
            for(i = 0; i < arr.length; i++)
                if (arr[i] > 0)
                    indexes.push(i);
            return indexes;
         }

         // function randomChanges(path, duration){
         //        d3.select(highlightLock).transition()
         //        .duration(duration)
         //        .tween("attr:fill", function(d, i){
         //            if (i == idxArray[randy]){
         //                return 'red';
         //            }
         //            else {
         //                 return 'blue';   
         //            }
         //        }});
         //    setTimeout(function() { twizzle(path, duration); }, (Math.random() + 1) * duration);  
         // }

        //  function sleep(milliseconds) {
        //   var start = new Date().getTime();
        //   for (var i = 0; i < 1e7; i++) {
        //     if ((new Date().getTime() - start) > milliseconds){
        //       break;
        //     }
        //   }
        // }

        function SurpriseMe() {
            highlight[137] = 1;
            highlight[124] = 1;
            highlight[2] = 1;
            highlight[17] = 1;
            highlight[87] = 1;
            highlight[1] = 1;
            highlight[45] = 1;
            highlight[67] = 1;
            highlight[68] = 1;

            console.log(heritage);

            idxArray = getAllIndexes(highlight);
            console.log(idxArray);
            N = idxArray.length;
            var colorTransit = svg.selectAll("path").transition();
            
            // doesn't work because of javascript asynch
            for(j=0;j<N;j++){
                    randy = Math.floor(Math.random() * N) + 0;
                    console.log(randy);
                    colorTransit.attr("fill", function(d, i){
                     if (i == idxArray[randy]){
                         return 'red';
                     }
                     else {
                          return 'blue';   
                     }
                      }).duration(90);
                    //sleep(100);
            }
        
            svg.selectAll("path")
             .attr("opacity", function(d, i){
             if (highlight[i]){
                 return 0.7;
             }
             else {
                  return 0.2;   
             }
            });
        }

      </script>
    </div>
  </div>

</body>
</html>